.title {
  text-align: center;
}

.date {
  text-align: center;
  display: block;
  margin: 1rem 0;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.datebottom {
  text-align: right;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
