@use "variables" as v;
@use "sass:map";

$sm: map.get(v.$screen-sizes, "sm");
$md: map.get(v.$screen-sizes, "md");
$lg: map.get(v.$screen-sizes, "lg");
$x-lg: map.get(v.$screen-sizes, "x-lg");

@mixin sm {
  @media screen and (max-width: #{$sm}px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: #{$md}px) {
    @content;
  }
}


@mixin lg {
  @media screen and (min-width: #{$md + 1}px) {
    @content;
  }
}

@mixin x-lg {
  @media screen and (min-width: #{$x-lg}px) {
    @content;
  }
}
