@use "media" as m;

@mixin bad-script() {
  font-family: var(--bad-script);
  line-height: initial;
  letter-spacing: 0.2em;
  font-weight: normal;
  font-size: 2rem;

  @include m.md {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  @include m.lg {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }

  @include m.x-lg {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@mixin montserrat() {
  font-family: var(--montserrat);
  font-size: 1rem;
  line-height: 2rem;

  @include m.lg {
    font-size: 1.05rem;
  }

  @include m.x-lg {
    font-size: 1.1rem;
  }
}
