@use "sass:color" as c;

$theme-light: (
        "background-images": 'url("/header_background_left.png"), url("/header_background_right.png")',
        "background": white,
        "background-darker": c.scale(white, $lightness: -10%),
        "primary": #019c8c,
        "text-primary": #323232,
        "text-secondary": c.scale(black, $lightness: +50%),
);
$theme-dark: (
        "background-images": 'url("/header_background_left.svg"), url("/header_background_right.svg")',
        "background": #3b4252,
        "background-darker": c.scale(#3b4252, $lightness: -10%),
        "primary": #01b8a5,
        "text-primary": #eee,
        "text-secondary": c.scale(#eee, $lightness: -25%),
);
$screen-sizes: (
        "sm": 425,
        "md": 768,
        "lg": 1024,
        "x-lg": 1920,
);

