@use "sass:color" as c;

$theme-light: (
        "background": white,
        "background-darker": c.scale(white, $lightness: -10%),
        "primary": #206fa9,
        "text-primary": #323232,
        "text-secondary": c.scale(black, $lightness: +50%),
);
$theme-dark: (
        "background": #3b4252,
        "background-darker": c.scale(#3b4252, $lightness: -10%),
        "primary": #2392e4,
        "text-primary": #eee,
        "text-secondary": c.scale(#eee, $lightness: -25%),
);
$screen-sizes: (
        "x-sm": 375,
        "sm": 425,
        "md": 768,
        "lg": 1024,
        "x-lg": 1920,
);

