@use "typography" as t;
@use "variables" as v;
@use "sass:map";

:root {
  --color-primary: #{map.get(v.$theme-light, "primary")};
  --background-images: #{map.get(v.$theme-light, "background-images")};
  --color-background: #{map.get(v.$theme-light, "background")};
  --color-background-darker: #{map.get(v.$theme-light, "background-darker")};
  --color-text-primary: #{map.get(v.$theme-light, "text-primary")};
  --color-text-secondary: #{map.get(v.$theme-light, "text-secondary")};
}

[data-theme="dark"] {
  --color-primary: #{map.get(v.$theme-dark, "primary")};
  --background-images: #{map.get(v.$theme-dark, "background-images")};
  --color-background: #{map.get(v.$theme-dark, "background")};
  --color-background-darker: #{map.get(v.$theme-dark, "background-darker")};
  --color-text-primary: #{map.get(v.$theme-dark, "text-primary")};
  --color-text-secondary: #{map.get(v.$theme-dark, "text-secondary")};
}

* {
  color: var(--color-text-primary);
  transition: color ease 1s, background-color ease 1s;
}

html,
body {
  @include t.montserrat;

  background-color: var(--color-background);
}

body {
  margin: 0;
  padding: 0 !important;
}

body.modal {
  max-height: 100vh;
  overflow-y: hidden;
}

/* stylelint-disable selector-id-pattern */
#__next {
  /* stylelint-enable selector-id-pattern */
  height: 100% !important;
}

main {
  min-height: 90vh;
}

.rsis-image {
  &, & ~ div {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}
