@use "typography" as t;

html,
body {
  @include t.montserrat;
}

body {
  margin: 0;
}

body.modal {
  max-height: 100vh;
  overflow-y: hidden;
}

/* stylelint-disable selector-id-pattern */
#__next {
  /* stylelint-enable selector-id-pattern */
  height: 100% !important;
}

main {
  min-height: 90vh;
}
