@use "src/client/styles/grid";
@use "src/client/styles/typography";

.link {
  @include typography.light;

  font-size: 1.25rem;
  text-transform: uppercase;

  @include grid.media-md {
    display: inline-block;
  }

  text-decoration: none;
  color: inherit;
}
