@use "../../../styles/grid";
@use "../../../styles/typography";

.link {
  @include typography.light;

  font-size: 1.25rem;
  text-transform: uppercase;

  @include grid.media-mobile-only {
    display: inline-block;
  }

  text-decoration: none;
  color: inherit;
}
