@use "../../../../styles/media" as m;

.wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}


.imageWrapper {
  width: calc(100% / 3 - 1rem);

  @include m.md {
    width: 100%;
  }


  &:hover {
    cursor: pointer;
  }
}


.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  max-height: 20rem;
}
