.button {
  border: none;
  display: inline-block;
  background-color: var(--color-background-darker);
  color: var(--color-text-primary);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
    color: var(--color-text-secondary)
  }

  &:active {
    background-color: var(--color-background);
  }

  &:disabled {
    color: var(--color-text-secondary)
  }
}
