.card {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
}

.image {
  height: auto;
  max-width: 100%;
  grid-column: 1;
}

.title {
  margin: 0;
  grid-column: 2;
}

.date {
  grid-column: 2;
  text-transform: capitalize;
  font-style: italic;
}

.description {
  margin: 0;
  grid-column: 2;
  line-height: 1.75;
}

.text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
