@use "src/styles/typography";

.image {
  $height: 320px;
  height: $height;

  width: auto;
  overflow: hidden;

  & > div {
    &, & > img {
      position: relative !important;
    }
  }

  img {
    object-fit: cover;
    height: $height !important;
    max-height: none !important;
    min-height: 0 !important;
    margin: 0 !important;
  }
}

.title {
  @include typography.BadScript;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  line-height: initial;
}

.meta {
  text-align: center;
  color: var(--secondary);
  text-transform: uppercase;
}

.imageLabel {
  @include typography.BadScript;

  color: var(--primary);
  text-align: center;
  font-size: 1.5rem;
}

.description {
  line-height: 1.5rem;
  letter-spacing: 0.2em;
}

.footer {
  color: var(--secondary);
  text-align: right;
  text-transform: capitalize;
}
