@use "../../styles/typography";

.logoContainer {
  $padding: 1rem;
  padding-top: $padding;
  padding-bottom: $padding;
  box-sizing: border-box;

  background-image: url("/header_background_left.png"), url("/header_background_right.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left top, right bottom;

  @media (max-width: 700px)  {
    background: none;
  }
}

.title {
  @include typography.BadScript;

  font-size: 2.5rem;
}
