@use "../../styles/typography";

.logoContainer {
  $padding: 1rem;
  padding: $padding 0 0 $padding;

  background-image: url("/header_background_left.png"), url("/header_background_right.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left top, right bottom;
}

.title {
  @include typography.BadScript;

  font-size: 2.5rem;
}
