.footer {
  background-color: var(--color-background-darker);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.theme {
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
