@use "../../styles/media" as m;

.footer {
  background-color: var(--color-background-darker);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;

  @include m.x-sm {
    align-items: flex-start;
  }
}

.theme {
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
