@use "../../styles/variables" as v;

.button {
  background-color: var(--color-background-dark);
  border: none;
  border-radius: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-text-darkest);

  &:hover {
    cursor: pointer;
  }
}
