@use "../../styles/typography";

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  img {
    object-fit: cover;
  }
}

.label {
  @include typography.BadScript;

  color: var(--primary);
  text-align: center;
}
