@use "src/client/styles/typography";
@use "src/client/styles/grid";

.preview {
  &:hover {
    cursor: pointer;
  }
}

.root {
  display: grid;
  grid-template-rows: auto 2fr;
  grid-row-gap: 1rem;

  padding-bottom: 1rem;
}

.header {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto 3fr auto;
  grid-template-areas: "back image next";
}

.navigationButton {
  background: none;
  border: none;
  font-size: 3rem;

  width: 10vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.navigationBack {
  grid-area: back;
}

.navigationNext {
  grid-area: next;
}

.close {
  display: block;
  margin-left: auto;
  text-decoration: none;
  font-size: 2rem;
  border: none;
  background: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.image {
  grid-area: image;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row-gap: 1rem;

  & > div {
    position: relative !important;
    overflow: auto !important;
    height: 80vh;

    @include grid.media-sm {
      height: 70vh;
    }
  }

  img {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain !important;
  }
}

.alt {
  @include typography.BadScript;
  color: var(--primary);
  text-align: center;
  font-size: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  display: inline-block;

  @include grid.media-sm {
    font-size: 1.5rem;
  }
}

