@use "../../styles/typography";
@use "../../styles/grid";

.root {
  $border: 1px dashed #000000;
  border-top: $border;
  border-bottom: $border;

  $padding: 0.5rem;
  padding-top: $padding;
  padding-bottom: $padding;


  @include grid.media-md {
    border: none;
    //$padding: 1rem;
    //padding: $padding $padding 0 $padding;
    padding: 0;
  }
}

.mobileToggle {
  display: none;
  justify-content: flex-end;

  @include grid.media-md {
    display: flex;
  }
}

.itemsContainer {
  @include grid.media-md {
    display: none;

    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 901;

    background-color: white;

    width: 80vw;
  }
}

.itemsContainerShow {
  display: flex;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @include grid.media-md {
    flex-direction: column;
    margin: 0;
  }
}

.li {
  @include grid.media-md {
    padding-bottom: 1rem;
    width: 60%;
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px dashed black;
      margin-bottom: 1rem;
    }
  }
}


