@use "../../styles/color" as c;
@use "../../styles/media" as m;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}

.button {
  @include c.set-back-color("secondary");

  z-index: 102;
  position: fixed;
  right: 5vw;
  top: 5vh;
  border: none;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
    color: white;
  }
}
